.App {
  text-align: center;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  background-color: rgb(240, 240, 240);
  border: 1px solid darkgrey;
  border-top-color: transparent;
  font-weight: normal;
  text-align: center;
}

.table td {
  border-top: 1px solid #dee2e6;
  width: 40px;
}
.cell {
  border: 1px solid lightgrey;
}
.input {
  border: none;
  width: 100%;
  line-height: 0;
}
input:active {
  border: none;
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}

.btn-light {
  margin: 10px auto;
  border: none;
}
.active {
  background-color: lightgrey;
}
